:root {
  --black: black;
  --white: white;
  --green: green;
  --yellow: #ffcc00;
  --coral: coral;
  font-family: "CLOCK", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.stopwatch {
  background-image: url("assets/blur.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  min-height: 100vh;
  overflow-y: auto;
}
.stopwatch main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stopwatch main .stopwatch-container {
  width: 100%;
  height: 100%;
}
.stopwatch main .stopwatch-container .row {
  width: 100%;
  height: 100%;
}
.stopwatch main .stopwatch-container .row .stopwatch-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stopwatch main .stopwatch-container .row .stopwatch-wrapper .stopwatch-div-wrapper {
  width: 90%;
  max-width: 600px;
  aspect-ratio: 1/1;
  background-image: url("assets/stopwatch-removebg-preview.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}
.stopwatch main .stopwatch-container .row .stopwatch-wrapper .stopwatch-div-wrapper .stopwatch-display {
  position: absolute;
  bottom: 34%;
  left: 50%;
  transform: translateX(-50%);
  width: 65%;
  height: 34%;
  padding: 10px;
  background-color: #c5c7c6;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 3px 1px var(--black) inset;
  border: 2px solid #f2e8e6;
}
.stopwatch main .stopwatch-container .row .stopwatch-wrapper .stopwatch-div-wrapper .stopwatch-display .span-wrapper {
  font-size: 6vw;
  color: #70b3e8;
}
.stopwatch main .stopwatch-container .row .stopwatch-wrapper .stopwatch-div-wrapper .stopwatch-display .span-wrapper #milliseconds {
  font-size: 3vw;
}
.stopwatch main .stopwatch-container .row .stopwatch-wrapper .stopwatch-div-wrapper .buttons {
  position: absolute;
  bottom: 13%;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 18%;
  border-radius: 55px;
  background: #eee9ef;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}
.stopwatch main .stopwatch-container .row .stopwatch-wrapper .stopwatch-div-wrapper .buttons button {
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px 1px var(--black) inset;
  border-radius: 50px;
  background-color: #70b3e8;
  font-weight: 600;
  padding: 10px 20px;
  flex: 1;
  margin: 0 10px;
}
.stopwatch main .stopwatch-container .row .laps {
  width: 100%;
  min-height: 500px;
  padding: 11rem 0rem 2rem;
}
.stopwatch main .stopwatch-container .row .laps h1 {
  color: var(--black);
  font-size: 5vw;
  font-weight: 600;
}
.stopwatch main .stopwatch-container .row .laps #lapsList {
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
}
.stopwatch main .stopwatch-container .row .laps #lapsList li {
  font-size: 18px;
  font-weight: 700;
}

@media only screen and (max-width: 767px) {
  .stopwatch main .stopwatch-container .row .stopwatch-wrapper .stopwatch-div-wrapper .buttons {
    width: 67%;
    height: 21%;
  }
  .stopwatch main .stopwatch-container .row .stopwatch-wrapper .stopwatch-div-wrapper .buttons button {
    padding: 5px 5px;
    font-size: 10px;
    margin: 0 7px;
  }
  .stopwatch main .stopwatch-container .row .stopwatch-wrapper .stopwatch-div-wrapper .stopwatch-display .span-wrapper {
    font-size: 8vw;
  }
  .stopwatch main .stopwatch-container .row .stopwatch-wrapper .stopwatch-div-wrapper .stopwatch-display .span-wrapper #milliseconds {
    font-size: 4vw;
  }
  .stopwatch main .stopwatch-container .row .laps {
    padding: 1rem 0rem 1rem;
    text-align: center;
  }
  .stopwatch main .stopwatch-container .row .laps #lapsList li {
    font-size: 12px;
    font-weight: 700;
  }
}
@media only screen and (min-width: 768px) {
  .stopwatch main .stopwatch-container .row .stopwatch-wrapper .stopwatch-div-wrapper .buttons {
    width: 68%;
    height: 20%;
  }
  .stopwatch main .stopwatch-container .row .stopwatch-wrapper .stopwatch-div-wrapper .buttons button {
    padding: 5px 10px;
    font-size: 18px;
    margin: 0 12px;
  }
  .stopwatch main .stopwatch-container .row .stopwatch-wrapper .stopwatch-div-wrapper .stopwatch-display .span-wrapper {
    font-size: 8vw;
  }
  .stopwatch main .stopwatch-container .row .stopwatch-wrapper .stopwatch-div-wrapper .stopwatch-display .span-wrapper #milliseconds {
    font-size: 4vw;
  }
  .stopwatch main .stopwatch-container .row .laps {
    padding: 12rem 0rem 2rem;
    text-align: left;
  }
  .stopwatch main .stopwatch-container .row .laps #lapsList li {
    font-size: 20px;
    font-weight: 700;
  }
}/*# sourceMappingURL=style.css.map */